<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>spring-study</title>
    </head>
    <body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username" placeholder="user" value="user"/> </label></div>
            <div><label> Password &nbsp;&nbsp;&nbsp;: <input type="password" name="password" placeholder="password" value="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>

        <div><p>Log out <a href="/home">/home</a></p></div>

        <div><p>Swagger-ui <a href="/swagger-ui/index.html">/swagger-ui</a></p></div>

    </body>
</html>